form {
    width: 100%;
}

.controls-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formControl {
    width: 100%;
    padding: 10px;
    color: aqua;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 25px;
}

.create-btn {
    background: darkgreen;
    color: white;
}

.create-btn:hover {
    color: darkgreen;
    background: white;
    border: 1px solid darkgreen;
}